body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-image: url(images/ciudad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

/* Aqui empiezan los estilos para la primera sección de la página, que es la que describe al personal y a la empresa */

h1{
  padding-top: 40px;
  font-weight: 900;
  /*margin-top: 30px;*/
  margin-top: 20vh;
}

.organizacion p {
  font-weight: 600;
  margin: 10px 30px;
  flex-basis: 50%; /* Establecer el ancho del párrafo en un 50% del contenedor */
  max-width: 50%;
  align-self: center;
}

.organizacion {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0%;
  padding: 50px 0; 


  color: white;
  background-color: #303030;
}


#contenedor-nosotros{
  margin-top: 100px;
}


.personal {
  margin-top: 60px;
  justify-content: center;

}

.personal h3 {
  text-align: center;
  color: black;
}


.cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin-top: 10px;
  background-color: lavender;
  }



/* Aqui empiezan los estilos para el primer formulario, que es el de contacto */

#form2 {
  display: none;
}

.formulario-contacto {
  display: flex;
  margin: 80px 0;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 30px 10px;
}

.titulo-formulario {
  margin-top: 70px;
  color: black;
  background-color: rgb(139, 225, 227);     /*background-color: #C0C0C0;*/
  border-radius: 6px;
  padding: 8px;
}

.imagenes {
  width: 100px;
  height: 100px;
}

.btn-primary {
  background-color: black;
}

#exampleFormControlInput1:hover {
  box-shadow: 0px 5px 5px rgb(19, 16, 220);
}

#exampleFormControlTextarea1:hover {
  box-shadow: 0px 5px 5px rgb(19, 16, 220);
}

.texto-input {
  resize: none;
}




.label-text {
  background-color: rgb(184, 225, 240);
  padding: 6px 7px;
  border-radius: 3px;
  color: black;
}

.boton-enviar {
  border-radius: 6px;
  background-color: white;
  color: black;
}

.boton-enviar:hover {
  width: 85px;
  background-color: aqua;
  color: black;
}
.boton-enviar:active {
  color: rgb(139, 225, 227);
  background-color: black;
}

#form2 {
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  background-color: darkcyan;
  margin: 30px 10px;
}

#form2 p,#summary {
  color: rgb(0, 0, 0);
}


/* Aquí empiezan los estilos del formulario del proceso */



.form-select {
border-radius: 6px;
background-color: white;
color: black;
}

.btn-primary {
background-color: black;
}

.boton-enviar {
  border-radius: 6px;
  background-color: white;
  color: black;
}

.boton-enviar:hover {
  width: 85px;
  background-color: aqua;
  color: black;
}
.boton-enviar:active {
  color: rgb(139, 225, 227);
  background-color: black;
}


.seleccionar {
  width: 420px;
  height: 40px;
  padding-left: 2%;
}

@media screen and (max-width: 490px) {
  .seleccionar {
    width: 95% !important; /* Ancho del 100% para que se ajuste a la pantalla */
    /* Otros estilos del select para pantallas pequeñas aquí */
  }
}




/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: slategray; /* Cambia el color de fondo de la barra de navegación según tus necesidades */
  padding: 16px; /* Ajusta el espaciado interior de la barra de navegación según tus necesidades */
}

/* Estilos para la lista de navegación */
.nav-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-lista li {
  display: inline-block;;
  /*margin-right: 16px; /* Ajusta el espaciado entre los elementos de la lista según tus necesidades */
}

.nav-lista li a {
  margin-right: 10px;
  text-decoration: none;
  color: white; /* Cambia el color del texto de los enlaces de navegación según tus necesidades */
}

.nav-lista li a:hover{
  color: teal;
}

/* Aquí empiezan los estilos dados con los media query */

@media screen and (max-width: 580px) {
  .organizacion {
    height: 120vh;
  }
  .organizacion p {
    width: auto;
    text-align: justify;
    
    flex-basis: 80%; /* Establecer el ancho del párrafo en un 50% del contenedor */
    max-width: 80%;
    align-self: center;
  }
  
}

@media screen and (max-width: 1500px) {
  .organizacion p {
    text-align: justify;
  }}