body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Share Tech', sans-serif;
    width: 100%;
    background-image: url(images/ciudad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* Aqui empiezan los estilos para la primera sección de la página, que es la que describe al personal y a la empresa */

h1{
  font-weight: 900;
  margin-top: 30px;
}

.organizacion p {
  font-weight: 600;
}

.organizacion {
  display: flex;
  flex-direction: column;
  /*background-image: url("images/ciudad.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;*/
  text-align: center;
  margin: 0%;
  padding: 50px; 
  color: rgb(0, 0, 0);
}

/*.organizacion {
    margin-top: 30px;
    font-family: 'Share Tech', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
  }*/
  .organizacion p {
    margin: 10px 30px;
  }



.personal {
  margin-top: 60px;
  justify-content: center;

}

.personal h3 {
  text-align: center;
  color: black;
}


.cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin-top: 10px;
}

/* Aqui empiezan los estilos para el primer formulario, que es el de contacto */

.formulario-contacto {
  display: flex;
  margin: 80px 0;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 30px 10px;
}

#titulo-reclamo {
  margin-top: 70px;
  color: black;
  background-color: rgb(139, 225, 227);     /*background-color: #C0C0C0;*/
  border-radius: 6px;
  padding: 8px;
}

.imagenes {
  width: 100px;
  height: 100px;
}

.btn-primary {
  background-color: black;
}

#exampleFormControlInput1:hover {
  box-shadow: 0px 5px 5px rgb(19, 16, 220);
}

#exampleFormControlTextarea1:hover {
  box-shadow: 0px 5px 5px rgb(19, 16, 220);
}

.texto-input {
  resize: none;
}




.label-text {
  background-color: rgb(184, 225, 240);
  padding: 2px 3px;
  border-radius: 3px;
  color: black;
}

.boton-enviar1 {
  border-radius: 6px;
  background-color: white;
  color: black;
}

.boton-enviar1:hover {
  width: 85px;
  background-color: aqua;
  color: black;
}



/* Aquí empiezan los estilos del formulario del proceso */

.formulario-proceso {
  margin: 50px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario-proceso h3 {
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}

#input-proceso {
  margin: 15px;
}